.image-gallery {
    height:  100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: lightblue;
    position: relative;

    > .image-list {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 20px;
        overflow: auto;
        padding: 0 10%;
        margin-top: 20px;

        @media (max-width: 950px) {
            grid-template-columns: auto auto auto;
        }

        @media (max-width: 720px) {
            grid-template-columns: auto auto;
        }

        @media (max-width: 480px) {
            grid-template-columns: auto;
        }

        > img {
            width: 100%;
            height: 140px;
            object-fit: cover;
        }
    }

    > .results-count {
        height: 20px;
        width: 100%;
        padding: 0 10%;
        font-size: 18px;
        font-weight: 500;
    }

    > .loading-overlay {
        position: absolute;
        background-color: gray;
        opacity: .5;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 10px;
        top: 0;
        font-size: 20px;
        color: white;
        font-weight: 600;
    }
}
